body {
    display: flex;
    /* background-image: url("https://download.hipwallpaper.com/desktop/1280/1024/54/71/rWBEOP.jpg"); */
}
.container-game {
    position: relative;
    color: white;
    width: 512px;
    height: 480px;
    flex: 1;
}
#scoreForUser {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
}
#historyForUser {
    position: absolute;
    top: 45px;
    left: 30px;
    z-index: 1;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
}
#timeRemainingForUser {
    position: absolute;
    top: 60px;
    left: 30px;
    z-index: 1;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
}
#playButton {
    position: absolute;
    top: 100px;
    left: 100px;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#dieMessage {
    position: absolute;
    top: 250px;
    right: 100px;
    z-index: 1;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
}
#playButton {
    position: absolute;
    top: 512 / 2;
    right: 480/2;
    z-index: 2;
}
.hidden {
    display: none;
}

.container-text{ 
    flex: 1;
    text-align: center;
    
}
.inputArea {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 30%;
}
#inputName {
    height: 40px;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
}
#submit {
    height: 40px;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    
}
#name {
    height: 40px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    padding-top: 10px;
}
.rules {
    font-family: 'Press Start 2P', cursive;
}
